@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@theme {
  --color-brand-black: #050505;
  --color-brand-gray: #A6A7AB;
  --color-brand-cyan: #08D9EA;
  --color-brand-red: #FF1616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
